@{
    ViewData["Title"] = "Manifesto Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aepistle Manifesto</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/manifesto.css" />
</head>
<body>
    <div class="manifesto">
        <div class="top-section">
            <img class="header-gradient"
                 src="~/img/tablet-top-gradient.png"
                  alt="gradient" />
        </div>
        <div class="top-container text-white">
            <img style="margin-top: 50px;"
                 class="logo"
                 src="~/img/aepistle-logo.svg"
                 alt="logo" />
            <div class="margin-vertical">
                <h1>Manifesto</h1>
            </div>
        </div>
        <div class="content container">
            <p>
                Social media is the gate for the global age we are living in: The
                Information Age. However, this gate has become an abysmal failure.
                This is not because the idea of social media is inherently wrong, it
                is because of the gatekeepers.
            </p>
            <p class="margin-vertical"><strong>They are elitist.</strong></p>
            <p>
                Facebook was created by Harvard students and for Harvard students.
                Even more specifically, it was created by frat boys to objectify their
                female colleagues. Facebook let us, the outsiders, in when they
                realized they could monetize our trust and naivety. It is the property
                of people who have sworn fealty to the oppressor.
            </p>
            <p class="margin-vertical"><strong>They are manipulative.</strong></p>
            <p>
                Facebook has manipulated the people and collected and sold our data.
                Using this collected data, they have wielded targeted advertisements
                against us to incite fear, stoke violence, and manipulate elections.
                Advertisers such as Eddie Bauer, Magnolia Pictures, and Ben & Jerry's
                have responded to these violations and are now leaving Facebook (<a href="https://www.nytimes.com/2020/06/23/business/media/facebook-ad-boycott.html">https://www.nytimes.com/2020/06/23/business/media/facebook-ad-boycott.html</a>). If they are leaving, what makes you think it is a place worth
                staying at?
            </p>
            <p class="margin-vertical"><strong>They are greedy.</strong></p>
            <p>
                Instagram has become a place of capitalistic sponsorship as opposed to
                human interaction. The platform has become detached from reality.
                Everything is polished and produced to the point where it is
                disingenuous. The social hierarchy is defined by prettiness and
                wealth, not character or intellect. Any attempt to be personal, to
                speak out, or to go against the aesthetic grain is often met with
                neglect. This has resulted in people selling out their stories and
                creativity for attention in the form of likes and follows. Instagram
                has perverted into a marketplace.
            </p>
            <p class="margin-vertical"><strong>They are complicit.</strong></p>
            <p>
                Reddit and Twitter have become free-for-all gladiator pits. It is
                violent vitriol. They have tried to keep their word and properly
                moderate content, but the problem persists. Recently, Reddit has
                seemingly “turned over a new leaf” and banned a large racist community
                on their platform (<a href="https://www.nytimes.com/2020/06/30/us/politics/reddit-bans-steve-huffman.html">https://www.nytimes.com/2020/06/30/us/politics/reddit-bans-steve-huffman.html</a>). Do not be deceived, this is nothing new. They have talked the
                talk, but they do not walk the walk. These companies have swept
                bigoted communities and users under the rug for years, which has
                allowed it to mold and infest their platforms.
            </p>
            <p class="margin-vertical">
                <strong>They lack accountability.</strong>
            </p>
            <p>
                This year, Snapchat created an egregious Juneteenth filter. When the
                user smiled, the chains of oppression broke (<a href="https://www.theverge.com/2020/6/19/21296713/snapchat-juneteenth-filter-smile-chains-controversial">https://www.theverge.com/2020/6/19/21296713/snapchat-juneteenth-filter-smile-chains-controversial</a>). This filter did not go through the proper review channels. This
                should not come as a surprise, as they have continually refused to
                release a diversity report of their employees (<a href="https://techcrunch.com/2019/05/23/snap-head-diversity-inclusion/">https://techcrunch.com/2019/05/23/snap-head-diversity-inclusion/</a>). This should not be a surprise when Snapchat thrives from its
                "closed door" approach to social media. It is a clandestine space,
                both inside the company and while using the app.
            </p>
            <p class="my-5">
                This has aided sexual misconduct for users in the app. It has become a
                hub for revenge porn. It has become the prime place for predators to
                contact minors and send them unsolicited sext messages. It also has
                enabled predators to cover up evidence (<a href="https://abc11.com/5832309/">https://abc11.com/5832309/</a>).
            </p>
            <p class="margin-vertical"><strong> In conclusion...</strong></p>
            <p>
                All of these companies have harbored the malignant tumors of violence,
                hate, and misinformation in our society. Collectively, they have
                silenced the voices of the vulnerable and disenfranchised. We believe
                the world needs an alternative to the platforms filled with ignorant
                bullies, arrogant bigots, and patronizing blowhards. We believe the
                world needs your passionate voice and your attuned ear. That's why
                we're doing something about it.
            </p>
            <p class="margin-vertical"><strong> Who are we?</strong></p>
            <p>
                We are Black owned. We place transparency and inclusion as our prime
                directive and are committed to making sure our staff reflects this.
            </p>
            <p class="my-5">
                We are invested in building an ideal digital experience for those who
                are sick of the contemporary social media climate that has become
                diseased with the dependency on targeted ads.
            </p>
            <p class="my-5">
                We, as the leaders of the Information Age, vow to speak out against
                hatred, violence, and misinformation. We are unequivocally anti-hate.
            </p>
            <p class="my-5">
                We reject convoluted privacy policies and terms and conditions. We are
                committed to safe and practical content moderation.
            </p>
            <p class="my-5">
                We are for those who have been silenced and or marginalized by
                traditional social media companies because of their race, gender,
                social status, religion, sexual orientation, or because they do not
                adhere to outdated Western beauty standards.
            </p>
            <p class="my-5">We are aepistle.</p>
            <p class="my-5">
                If you're ready to disrupt the social media status quo, sign up for
                more information.
            </p>
        </div>
    </div>

    <!-- <----bootstrap---->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>
